<div class="container">
    <h3 style="color:brown">User Registration</h3>
    <br>
    <form #newuser="ngForm" (ngSubmit)="onSubmit(newuser.value)">
        <div class="form-group">
            <!-- <div>
   <!-- <label> Id:</label><input type="text" ngModel name="id" class="form-control"> -->
            <!--   
</div>    -->
            <div>
                <label>Name:</label>
                <input type="text" ngModel name="fullname" class="form-control">
            </div>
            <div>
                <label>Email:</label>
                <input type="text" ngModel name="email" class="form-control">
            </div>
            <br>
            <button class="btn btn-sm btn-success" mat-raised-button>Add</button>
        </div>
    </form>
</div>