<div class="container">
    <h3 style="color:brown">User Registration</h3>
    <br>
    <form #newuser="ngForm" (ngSubmit)="onSubmit(newuser.value)" style="width:500px">
        <div class="form-group">

            <div>
                <label>Name:</label>
                <input type="text" ngModel name="fullname" class="form-control" placeholder="name">
            </div>
            <div>
                <label>Email:</label>
                <input type="text" ngModel name="email" class="form-control" placeholder="example@gmail.com">
            </div>
            <div>
                    <label>Description:</label>
                    <input type="text" ngModel name="desc" class="form-control" placeholder="hobbies">
                </div>
            <br>
            <button class="btn btn-sm btn-success" mat-raised-button>Add</button>
            <button class="btn btn-sm btn-info" (click)="goBack()" mat-raised-button>Back</button>
        </div>
    </form>
</div>