
th {
    border-top: 0px;
}

 


[class*='col-'] {
    padding-bottom: 20px;
    margin:20px;
  }
 
 
 
  .module {
   
    text-align: center;
    color: #eee;
    background-color: #607D8B;
    border-radius: 2px;
    height:150px;
    width:200px;
  }
 
 