<!-- <ul *ngFor="let user of users">
  <li>{{user.id}}</li>
  <li>{{user.fullname}}</li>
  <li>{{user.email}}</li>
</ul> -->
<!-- <div class="container">
  <div class="row"  >
  <div class="col-sm-4" *ngFor="let user of users" style="background-color:cadetblue">
    <div>
{{user.id}}
{{user.fullname}}
{{user.email}}
</div>
    </div>

  </div>

</div> -->

<div class="container">
  <div style="border-bottom:2px solid gainsboro">
    <h2 style="color:cornflowerblue">User Details</h2>
  </div>
  <br>
  <p align="right">
    <button mat-raised-button class="btn btn-sm btn-primary" (click)="newUser()">
      <i class="fa fa-plus"></i>&nbsp;Adduser</button>
  </p>
  <br>

  <table class="table" *ngIf="users">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users" (click)="showUser(user)">
        <td>{{user.id}}</td>
        <td>{{user.fullname}}</td>
        <td>{{user.email}}</td>
        <td>
          <a routerLink="/home/{{user.id}}" style="text-decoration:none">
            <button mat-raised-button class="btn btn-sm btn-success">
              <i class="fa fa-edit"></i>
            </button>
          </a>
          <button mat-raised-button (click)="onDelete(user)" class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </td>


      </tr>
    </tbody>
  </table>
</div>