<div class="container">
    <h4 class="alert alert-primary">Edit UserDetails</h4>
    User ID:
    <span>{{user.id}}</span>
    <br>
    <br>

    <label>Name:</label>
    <input type="text" [(ngModel)]="user.fullname" class="form-control">
    <br>
    <label>Email:</label>
    <input type="text" [(ngModel)]="user.email" class="form-control">
    <br>
    <br>
    <label>Description:</label>
    <input type="text" [(ngModel)]="user.hobbies" class="form-control">
    <br>
    <button (click)="onEditSave()" class="btn btn-info">Save</button>
    <button (click)="goBack()" class="btn btn-danger">Home</button>



</div>