<div class="container" style="padding:5%">
	<h4 style="color:brown">Edit UserDetails</h4>
	<br>
	<button (click)="goBack()" class="btn btn-sm btn-info" data-tooltip title="Go Back">
		<mat-icon>navigate_before</mat-icon>
	</button>
	<br>


	<br>

<div class="form-width">
<form >
	<mat-form-field class="form-width">
		<input matInput [(ngModel)]="user.fullname" name="fullname" type="text" class="form-control" >
	</mat-form-field>

	<mat-form-field class="form-width">
		<input type="text" matInput [(ngModel)]="user.email" name="email" class="form-control">

	</mat-form-field>
	<mat-form-field class="form-width">
		<textarea type="text" matInput [(ngModel)]="user.hobbies" name="hobbies" class="form-control" >{{user.hobbies}}</textarea>
	</mat-form-field>
	<mat-form-field class="form-width">
		<input matInput [matDatepicker]="picker" class="form-control" name="dateofBirth" [(ngModel)]="user.dateofBirth" >

		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>

	</mat-form-field>
	<button (click)="onEditSave()" class="btn btn-success pull-right" [disabled]="checkChanges()">Save</button>
</form>
</div>